<!-- header -->
<div class="col-12 px-0 py-3 row">
  <div class="col-4 d-flex justify-content-end align-items-center social-network">
    <h2 class="mb-0 font-social-network">Social Network</h2>
  </div>
  <div class="col-4 d-flex align-items-center search-group">
    <div class="row no-gutters w-100">
      <div class="col">
        <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="search" id="example-search-input4">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-4 px-0 d-flex align-items-center user-group">
    <div class="group-btn">
      <button class="btn btn-primary btn-upload btn-sm mr-2">
        <i class="icon-arrow-up fas fa-arrow-up mr-2"></i>
        <span class="upload">Upload</span>
      </button>
    </div>
    <div class="user d-flex align-items-center">
      <div class="user-icon bg-primary d-flex align-items-center justify-content-center">
        <i class="fas fa-user-alt text-white"></i>
      </div>
      <div class="d-flex flex-column user-name">
        <h5 class="mb-0 font-first-name">Waseem</h5>
        <p class="mb-0 font-last-name">Arshad</p>
      </div>
    </div>
  </div>
  <div class="user-group-mb">
    <button class="btn btn-outline-primary btn-sm btn-user-mb">
      <i class="fas fa-user-alt"></i>
    </button>
  </div>
</div>
<!-- header -->

<!-- navbar -->
<!--<nav class="navbar navbar-expand-sm navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Menu</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Video <span class="sr-only">(current)</span></a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">People</a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Documents</a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Events</a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Communities</a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Favorites</a>-->
<!--        </li>/-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Channels</a>-->
<!--        </li>/-->
<!--      </ul>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand d-sm-none" href="#">Menu</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center flex-wrap">
      <li class="nav-item active">
        <a class="nav-link text-nowrap" href="#">Video
          <span class="sr-only">(current)</span>
          <span class="ml-2 slash">/</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">People <span class="ml-2 slash">/</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Documents <span class="ml-2 slash">/</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Events <span class="ml-2 slash">/</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Communities <span class="ml-2 slash">/</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Favorites <span class="ml-2 slash">/</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Channels <span class="ml-2 slash">/</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!-- navbar -->

<!-- body -->
<div class="container">
  <div class="row m-0">
    <div class="col-12 col-lg-8 px-0">
      <app-videos></app-videos>
    </div>
    <div class="col-12 col-lg-4 px-0">
      <app-activities></app-activities>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-lg-8 px-0">
      <app-peoples></app-peoples>
      <app-documents></app-documents>
    </div>
    <div class="col-12 col-lg-4 px-0">
      <app-channels></app-channels>
    </div>
  </div>
</div>
<!-- body -->

<!-- footer -->
<hr>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Company Name</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
      </div>
      <p class="copyright">Company Name © 2018</p>
    </div>
  </footer>
</div>
<!-- footer -->
